<div onclick="dialog('{rank}', 'main', 'open')"
  class="flex justify-between px-4 w-full py-[8px] rounded-xl text-base font-semibold text-white/[0.95] border border-white/[0.15] transition hover:bg-white/[0.07] cursor-pointer">
  <div class="flex">
    <p class="w-14">{rank}.</p>
    <p class="flex-1">{name}</p>
  </div>
  <div class="flex">
    <p class="w-10">{level}</p>
  </div>
</div>
<dialog id="dialog_main_{rank}"
  class="w-[60vw] h-[60vh] p-5 rounded-xl text-base font-semibold text-white/[0.95] border border-white/[0.15] bg-[var(--background)] backdrop:backdrop-blur-sm">
  <div class="flex items-center gap-10 justify-center w-full h-full">
    <img class="rounded-[100%] w-80 h-80" src="https://api.dicebear.com/9.x/big-smile/svg?seed={name}"
      alt="random pfp" />
    <div class="flex flex-col gap-2 text-left">
      <h1 class="text-7xl">{name}</h1>
      <p class="text-white/[0.15]">
        Rank: {rank} • Level: {level} •
        <button onclick="dialog('{rank}', 'internal', 'open')" class="outline-none underline">
          {logs_text}
        </button>
      </p>
      <button onclick="dialog('{rank}', 'main', 'close')" class="outline-none bg-white text-black py-2 rounded-lg">
        Close
      </button>
    </div>
  </div>
  <dialog id="dialog_internal_{rank}"
    class="w-screen h-screen p-5 rounded-xl text-base font-semibold text-white/[0.95] border border-white/[0.15] bg-[var(--background)] backdrop:backdrop-blur-sm">
    <div class="flex flex-col gap-5">
      <h2 class="text-xl">Logs</h2>
      <div class="h-full text-left pb-5 flex flex-col items-center overflow-y-scroll scroll">
        {logs}
      </div>
      <button onclick="dialog('{rank}', 'internal', 'close')" class="outline-none bg-white text-black py-2 rounded-lg">
        Close
      </button>
    </div>
  </dialog>
</dialog>