<div onclick="dialogopen_{rank}()"
  class="flex justify-between px-4 w-full py-[8px] rounded-xl text-base font-semibold text-white/[0.95] border border-white/[0.15] transition hover:bg-white/[0.07] cursor-pointer">
  <div class="flex gap-5">
    <p>{rank}.</p>
    <p>{name}</p>
  </div>
  <div class="flex gap-5">
    <p>{points}</p>
    <p class="w-5">{level}</p>
  </div>
</div>
<dialog id="dialog_{rank}"
  class="w-96 p-5 rounded-xl text-base font-semibold text-white/[0.95] border border-white/[0.15] bg-[var(--background)] backdrop:backdrop-blur-sm">
  <div class="flex flex-col gap-5">
    <h2 class="text-xl">Logs</h2>
    <div class="max-h-96 text-left pb-5 flex flex-col items-center overflow-y-scroll">
      {logs}
    </div>
    <button onclick="dialogclose_{rank}()" class="outline bg-white text-black py-2 rounded-lg">
      Close
    </button>
  </div>
</dialog>

<script>
  const modal_{rank} = document.getElementById("dialog_{rank}");
  function dialogopen_{rank} () {
    modal_{rank}.showModal();
  }
  function dialogclose_{rank} () {
    modal_{rank}.close();
  }
</script>
