<script defer>
    (function () {
        const second = 1000,
            minute = second * 60,
            hour = minute * 60,
            day = hour * 24;

        //I'm adding this section so I don't have to keep updating this pen every year :-)
        //remove this if you don't need it
        let today = new Date(),
            dd = String(today.getDate()).padStart(2, "0"),
            mm = String(today.getMonth() + 1).padStart(2, "0"),
            yyyy = today.getFullYear(),
            nextYear = yyyy + 1,
            dayMonth = "09/30/",
            birthday = dayMonth + yyyy;

        today = mm + "/" + dd + "/" + yyyy;
        if (today > birthday) {
            birthday = dayMonth + nextYear;
        }
        //end
        const countDown = new Date("06/25/2024").getTime(),
            x = setInterval(function () {

                const now = new Date().getTime(),
                    distance = countDown - now;

                document.getElementById("days").innerText = Math.floor(distance / (day)),
                    document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
                    document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
                    document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

                //do something later when date is reached
                if (distance < 0) {
                    document.getElementById("headline").innerText = "It's my birthday!";
                    document.getElementById("countdown").style.display = "none";
                    document.getElementById("content").style.display = "block";
                    clearInterval(x);
                }
                //seconds
            }, 0)
    }())
</script>
<style>
    li {
        display: inline-block;
        font-size: 1.5em;
    }

    li span {
        display: block;
        font-size: 4.5rem;
    }
</style>

<div class="w-full flex flex-col justify-center gap-3 mt-14">
    <h1 class="text-5xl font-bold text-center">Intra Sudo Starts In</h1>
    <div class="wrapper">
        <div id="countdown">
            <ul class="flex gap-14 list-none pt-10">
                <li class="flex flex-col items-center uppercase">
                    <span id="days" class="text-7xl"></span>
                    <span class="text-lg text-white/60">days</span>
                </li>
                <li class="flex flex-col items-center uppercase">
                    <span id="hours" class="text-7xl"></span>
                    <span class="text-lg text-white/60">Hours</span>
                </li>
                <li class="flex flex-col items-center uppercase">
                    <span id="minutes" class="text-7xl"></span>
                    <span class="text-lg text-white/60">Minutes</span>
                </li>
                <li class="flex flex-col items-center uppercase">
                    <span id="seconds" class="text-7xl"></span>
                    <span class="text-lg text-white/60">Seconds</span>
                </li>
            </ul>
        </div>
    </div>
</div>