<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="assets/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#131520" />
    <meta name="description" content="Website for Exun Intra Sudo 2024" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <title>Intra Sudo 2024</title>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="main.css">
    <script src="tailwind.js"></script>

</head>

<body>
    <div class="w-screen h-screen bg-[var(--background)] pt-20">

        {header}

        {chat_btn}

        <div class="h-full">

        </div>

        {footer}
    </div>

</body>

</html>