<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#131520" />
    <meta name="description" content="Website for Exun Intra Sudo 2024" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <title>Intra Sudo - Signup</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/forms@0.5.7/src/index.min.js"></script>
    <link rel="stylesheet" href="main.css">

</head>

<body>
    <div class="relative w-screen h-screen bg-[var(--background)] pt-20">

        {header}

        <div class="w-full h-full flex justify-center items-center">
            <div
                class="px-14 py-7 w-2/5 bg-white/[0.04] border border-white/[0.15] rounded-xl flex flex-col items-center gap-14">
                <p class="text-4xl font-semibold">Signup</p>

                <div class="flex flex-col gap-5 w-full">
                    <input type="text" placeholder="Enter your name"
                        class="w-full bg-[var(--background)] px-3 py-2 border border-white/[0.35] focus:border-white/[0.5] outline-none rounded-lg placeholder:text-white/[0.5]">
                    <input type="text" placeholder="Enter your email"
                        class="w-full bg-[var(--background)] px-3 py-2 border border-white/[0.35] focus:border-white/[0.5] outline-none rounded-lg placeholder:text-white/[0.5]">
                    <input type="password" placeholder="Enter your password"
                        class="w-full bg-[var(--background)] px-3 py-2 border border-white/[0.35] focus:border-white/[0.5] outline-none rounded-lg placeholder:text-white/[0.5]">
                    <div class="flex gap-2">
                        <label class="checkbox">
                            <input type="checkbox" class="absolute opacity-0 cursor-pointer w-0 h-0" />
                            <div class="checkbox__checkmark"></div>
                            <div class="text-white/75">Stay Signed In</div>
                        </label>
                    </div>
                </div>

                <div class="flex flex-col gap-4 items-center w-full">
                    <button
                        class="bg-[var(--primary)] w-2/3 py-[5px] rounded-xl text-lg font-semibold text-white hover:scale-[1.02] transition">Submit</button>

                    <a href="/login" class="text-sm">Login Instead?</a>
                </div>
            </div>
        </div>

    </div>
</body>

</html>