<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body style="margin: 0; padding: 0; background: #0d0e11; color: #fff; font-family: Montserrat;">
    <div
        style="background: #0d0e11; width: 100vw; height: 100%; display: flex; justify-content: center; align-items: center;">
        <div
            style="display: flex; padding: 1.75rem 1.5rem; flex-direction: row; justify-content: space-between; align-items: center; border-radius: 0.75rem; border: 1px solid rgba(255, 255, 255, 0.15); background-color: rgba(255, 255, 255, 0.03);">

            <div style="display: flex; flex-direction: column; align-items: center; width: 15rem;">
                <img src="https://raw.githubusercontent.com/aludayalu/intrasudo24/main/public/logo_nobg.png"
                    style="width: 8rem;">
                <p style="font-size: 1.5rem; font-weight: 500;">Intra Sudo v5.0</p>
            </div>

            <div style="flex: 1; display: flex; flex-direction: column; align-items: center; gap: 2rem; width: 24rem;">

                <div
                    style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 2rem;">
                    <div
                        style="width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                        <h1 style="font-size: 1.5rem; line-height: 2rem; font-weight: 700; margin: 0.25rem;">
                            Email Verification</h1>
                        <p
                            style="font-size: 0.875rem; line-height: 1.25rem; text-align: center; color: rgba(255, 255, 255, 0.75); margin: 0.25rem;">
                            Enter this 6-digit one-time verification code in the signup page.
                        </p>
                    </div>

                    <div style="display: flex; align-items: center; justify-content: center; gap: 0.75rem;">
                        <div
                            style="border-radius: 0.25rem; width: 42px; height: 42px; font-size: 1.5rem; line-height: 2rem; font-weight: 800; display: flex; justify-content: center; align-items: center; color: rgb(15 23 42); background-color: rgb(241 245 249);">
                            {digit1}
                        </div>
                        <div
                            style="border-radius: 0.25rem; width: 42px; height: 42px; font-size: 1.5rem; line-height: 2rem; font-weight: 800; display: flex; justify-content: center; align-items: center; color: rgb(15 23 42); background-color: rgb(241 245 249);">
                            {digit2}
                        </div>
                        <div
                            style="border-radius: 0.25rem; width: 42px; height: 42px; font-size: 1.5rem; line-height: 2rem; font-weight: 800; display: flex; justify-content: center; align-items: center; color: rgb(15 23 42); background-color: rgb(241 245 249);">
                            {digit3}
                        </div>
                        <div
                            style="border-radius: 0.25rem; width: 42px; height: 42px; font-size: 1.5rem; line-height: 2rem; font-weight: 800; display: flex; justify-content: center; align-items: center; color: rgb(15 23 42); background-color: rgb(241 245 249);">
                            {digit4}
                        </div>
                        <div
                            style="border-radius: 0.25rem; width: 42px; height: 42px; font-size: 1.5rem; line-height: 2rem; font-weight: 800; display: flex; justify-content: center; align-items: center; color: rgb(15 23 42); background-color: rgb(241 245 249);">
                            {digit5}
                        </div>
                        <div
                            style="border-radius: 0.25rem; width: 42px; height: 42px; font-size: 1.5rem; line-height: 2rem; font-weight: 800; display: flex; justify-content: center; align-items: center; color: rgb(15 23 42); background-color: rgb(241 245 249);">
                            {digit6}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>